@model FrioBueno.Models.ProductosParaDespacho

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>
<h4>¿Esta seguro que desea eliminar la Tarja del Despacho?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumGuia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumGuia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FolioExterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FolioExterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FolioInterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FolioInterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Envase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Envase)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" />
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>