@model FrioBueno.Models.DetalleCarga

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar este Producto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCarga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCarga)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Envase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Envase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantidadEnvases)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadEnvases)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KgEnvase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KgEnvase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FolioExterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FolioExterno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
