@model IEnumerable<FrioBueno.Models.DetalleCarga>

@{
    ViewData["Title"] = "Detalle Carga";
    var idCarga = ViewContext.RouteData.Values["Id"];
    int id = Convert.ToInt32(idCarga);
}

<h2>Detalle de la Carga</h2>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Envase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEnvases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KgEnvase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolioExterno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IdCarga == id)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCarga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Envase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadEnvases)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KgEnvase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FolioExterno)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (id == 0)
{
    <script>
        window.location.href = '@Url.Action("Index", "Clientes")';
    </script>
}
