@model FrioBueno.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumGuia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumGuia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transporte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transporte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conductor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RutConductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RutConductor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PesoGuia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PesoGuia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
