@model IEnumerable<FrioBueno.Models.AsocDespachoProductos>

@{
    ViewData["Title"] = "Orden de Despacho";
}

<h2>Despacho de Tarjas</h2>

<h4>
    Orden de Despacho con Tarjas de Lotes Seleccionados
</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDespacho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumGuia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolioInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolioExterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOrden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDespacho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumGuia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FolioInterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FolioExterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Confirm"> Confirmar </a> |
<a asp-action="Cancel"> Cancelar</a>
